<div >
  <div layout="row" layout-align="space-around" layout-padding="layout-padding" class="login-form">
    <md-card>
      <md-toolbar>
        <div style="background-color: #FFBB00;">
          <h2><center>forgotPassword</center></h2>
        </div>
      </md-toolbar>
      <md-card-content>
        <form name="Form">
          <div>
            <div>
              <md-input-container>
                <label>Email-id</label>
                <div layout-align="space-around">
                  <input required type="email" ng-model="email" ng-pattern="/(^[a-zA-Z0-9]+@+[a-zA-Z_]+\.[a-zA-Z]{2,3})$/" />
                </div>
                <div ng-messages="Form.email.$error">
                  <div ng-message-exp="['required','pattern']">Invalid email address,please re-enter mail id.</div>
                </div>
              </md-input-container>
            </div>
          </div>
        </form>
      </md-card-content>
      <md-button style="background-color: #FFBB00;" ng-click="changePassWord()"><small><b>Reset Password</small></b></md-button>
    </md-card>
  </div>
</div>
