<div class='forgotPassword'>
  <div layout="row" layout-align="space-around" layout-padding="layout-padding" class="login-form">
    <md-card>
      <md-toolbar>
        <div style="background-color: #FFBB00;">
        <h2><center>ResetPassWord</center></h2>
        </div>
      </md-toolbar>
      <md-card-content>
        <form name="Form">
          <div>
            <div>
              <md-input-container>
                <label>Enter New Password</label>
                <div layout-align="space-around">
                <input required type="password" ng-model="password" minlength="8" maxlength="12" />
                </div>
                <div ng-messages="Form.email.$error">
                  <div ng-message-exp="['required','minlength','maxlength']"> password  length  should  be  minimun  8.......</div>
                </div>
              </md-input-container>
            </div>
          </div>
        </form>
      </md-card-content>
      <md-button style="background-color: #FFBB00;" ng-click="resetPassword()"><small><b>Conform</b></small></md-button>
    </md-card>
  </div>
</div>
